.header {
  border-bottom: 1px solid #cecece;
  padding: 21px 0;
}

.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav ul li {
  margin-right: 32px;
}

.header nav ul li a {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
